{% extends 'padre.html' %}

{% block contenidoQueCambia %}
  {% if user.is_staff %}
    <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <h2 class="text-center">Cargar nuevo producto</h2>
            <form method="POST" action="{% url 'cargar_producto' %}" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn btn-primary" type="submit">Cargar</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for producto in productos %}
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            {% if producto.imagen %}
            <img class="card-img-top" src="{{ producto.imagen.url }}" alt="Imagen del producto" />
            {% else %}
            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
            {% endif %}
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ producto.descripcion }}</h5>
                <!-- Product price-->
                ${{ producto.precio }}
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <button class="btn btn-primary mt-auto">Agregar al carrito</button>
                {% if user.is_staff %}
                  <form action="{% url 'eliminar_producto' producto.id_producto %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger mt-auto" type="submit">Eliminar</button>
                  </form>
                  <form action="{% url 'actualizar_producto' producto.id_producto %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-primary mt-auto" type="submit">Actualizar</button>
                  </form>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock contenidoQueCambia %}